.wp-site-blocks {
    margin-top: 0;
    align-items: flex-start;
    flex-direction: row;

    > main{
        flex-basis:70%;
        min-height: 100vh;
        justify-content: center;
        
        /*Editor-Content*/
        
    }   
}