:root {
    --wp--style--global--content-size: 1066px;
}

.wp-site-blocks {
    margin-top: 0;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    > main{
        flex-basis:70%;
        min-height: 100vh;
        justify-content: center;
        margin-block-start: 0;
        margin-top: 0;
        padding-bottom: 0;
        .entry-content {
          padding-right: 120px;
        }
        /*Editor-Content*/
        .medium-p {
          font-size: var(--wp--preset--font-size--medium);
          line-height: 26px !important;
        }
        /*Buttons*/
        .wp-block-button__link {
            font-size: var(--wp--preset--font-size--xs);
            line-height: 18px !important;
            background-color: var(--wp--preset--color--secondary);
        }
        .wp-block-button__link:hover {
            background-color: #F5F5F5;
            color : var(--wp--preset--color--secondary);
            
        }

/* Animated Card */ 
.mmsi-feature{
  height: clamp(260px, 28vw, 420px);
  overflow: hidden;
  gap: 0 !important;
  padding: 0 !important;

  > .wp-block-columns{
    height: 100%;
    align-items: stretch;
    margin: 0;
  }
}

/* image */
.mmsi-feature__media{
  flex: 0 0 70%;
  max-width: 70%;
  height: 100%;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  figure, .wp-block-image {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: unset  !important;
   }
   img{
    height: 100%;
    max-width: none;
    object-fit: fill !important;
    display: block;
    cursor: pointer;
  }
}

/* Overlay */
.mmsi-feature__media::after{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.25);
  transition: opacity .45s ease;
  pointer-events: none;
}

/* text */
.mmsi-feature__text{
  flex: 0 0 30%;
  max-width: 30%;
  height: 100%;
  min-width: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  transition:
    opacity .35s ease,
    transform .45s ease;
}

/* COLLAPSED STATE */
.mmsi-feature.is-collapsed {
  .mmsi-feature__media{
    flex: 1 1 100%;
    max-width: 100%;
  }
  /* Remove overlay */
  .mmsi-feature__media::after{
    opacity: 0;
  }
  /* Text disappears */
  .mmsi-feature__text{
    opacity: 0;
    transform: translateX(16px);
    pointer-events: none;
    display: none;
    width: 0;
    padding: 0;
    margin: 0;
  }
}



.nf-form-cont {
  padding: 50px 90px;
  .nf-form-title {
    display: none;
  }
  input:not([type="submit"]) {
    background-color: #F5F5F5;
    border: none;
    height: 45px;
  }
  input[type="submit"] {
    width: 100%;
    border: none;
    background: var(--wp--preset--color--secondary);
    color: var(--wp--preset--color--base);
    height: 45px;
  }
  .nf-field-container {
    margin-bottom: 50px !important;
  }
  .nf-field-label{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all .25s ease;
    margin: 0;
    z-index: 1000;
  }
  .nf-field:focus-within .nf-field-label{
      top: -20px;
      transform: translateY(0);
      font-size: 12px;
  }
}
}
}



body {
  --mbfse--margin-bottom-block: 120px;
  /*Fonts*/
	--wp--preset--font-size--large:28px;
	--wp--preset--font-size--medium:18px;
	--wp--preset--font-size--small:16px;
  --wp--preset--font-size--xs:15px;
  
  /*  Global font defaults  */
  h2 {
    font-size: var(--wp--preset--font-size--large);
    line-height: 34px !important;
  }

  h3 {
    font-size: var(--wp--preset--font-size--large);
  }

  p {
	font-size: var(--wp--preset--font-size--small);
  }
}