.wp-site-blocks > footer{
    --mbfse--padding-footer:0;
    width: 100%;
    background-color: var(--wp--preset--color--secondary);
    padding:15px 40px;
    box-sizing: border-box;
    
    >div {        
        > div {
            width: 100%;
            li,
            .mbfse-copyright{
                a,p,span{
                    color:#fff;
                    font-size: 10px;
                }
            } 
            .wp-block-navigation-item__label:hover{
                text-decoration: underline;
                color:#fff
            }

            @media (max-width: 601px){
                flex-direction: column-reverse;
            }            
        }
    }
}