.wp-site-blocks > footer{
    width: 100% !important;
    background-color: var(--wp--preset--color--secondary) !important;
    padding-top: 15px;
    padding-bottom: 15px;
    >div {
        padding: 0 !important;
        > div {
            margin: 0 !important;
        }
        ul{
            justify-content: space-between;
            padding-left: 150px;
            padding-right: 150px;
            li a span {
            color: var(--wp--preset--color--base) !important;
            font-size: 10px !important;
           }
        }
        nav {
            margin: 0 !important;
            max-width: unset !important;
            > div {
                width: 100%;
            }
        }
    }
}