.wp-site-blocks > header{
    position: relative;
    background-color: var(--wp--preset--color--base);
    min-height: 100vh;
    z-index: 2000;

    @media (max-width: 600px) {
        min-height: unset;
        margin-bottom: 60px !important;
    }
    
    justify-content: center;
    flex-basis:30%;
    align-items: flex-end;

    /* Selected menu */
    .wp-block-navigation-item {
        &.current-menu-item {
            &:before {
                content: '•';
                color: var(--wp--preset--color--secondary);
                position: absolute;
                bottom: 0;
                left: 20px;
            }
            .wp-block-navigation-item__label {
                padding-left: 15px;
            }
        }
    }

    .parts-header {
        position: fixed;
        left: 120px;
        @media (max-width: 600px) {
            left: 0;
        }

        > div {
        flex-direction: column;
         /* hide logo mobile */
        > div {
             @media (max-width: 600px) {
                display: none;
            } 
          }
        }
    }
        
    

    ul {
        flex-direction: column;
        a {
            padding-bottom: 0 !important;
            font-weight: bold;
        }
    }
    
    @media (max-width: 600px){
        >div {
            nav{
            .wp-block-navigation__responsive-container{
                    width: 100vw !important;
                    background-color: var(--wp--preset--color--base);
                    padding-left: 0 !important;
                    .wp-block-navigation__responsive-container-close {
                        top: 0 !important;
                    }
             }
        }
        }
    }

    
}