.wp-site-blocks > header{
    position: relative;
    background-color: #fff;
    min-height: 100vh;
    justify-content: center;
    flex-basis:30%;
    align-items: flex-end;

    .parts-header > div {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        a {
            padding-bottom: 0 !important;
        }
    }
}