.wp-site-blocks > header{
    position: relative;
    background-color: var(--wp--preset--color--base);
    z-index: 2000;
    width: 20%;

    @media (max-width: 768px) {
        min-height: unset;
        margin-bottom: 60px !important;
    }
    
    justify-content: center;
    align-items: flex-end;
    >div {
        padding: 0 !important;
    }

    /* Selected menu */
    .wp-block-navigation-item {
        &.current-menu-item {
            &:before {
                content: '•';
                color: var(--wp--preset--color--secondary);
                position: absolute;
                bottom: 0;
                left: 20px;
            }
            .wp-block-navigation-item__label {
                padding-left: 15px;
            }
        }
    }

    .parts-header {
        position: fixed;
        > div {
        flex-direction: column;
         /* logo desktop, tablet and mobile display */
        > div {
            @media (min-width: 951px) and (max-width: 1199px) {
                img {
                    width: 150px;
                }
            }
            @media (min-width: 768px) and (max-width: 951px) {
                img {
                    width: 120px;
                }
            }
            @media (max-width: 768px) {
                display: none;
            } 
          }
        }
    }

    ul {
        flex-direction: column;
        a {
            padding-bottom: 0 !important;
            font-weight: bold;
             /* desktop, tablet and mobile display */
            @media (min-width: 768px) and (max-width: 951px) {
                font-size: 10px;
            }

            @media (min-width: 952px) and (max-width: 1200px) {
                font-size: 12px;
            }
        
            @media (min-width: 1200px) and (max-width: 1440px) {
                font-size: 14px;
            }
        }
    }
    
    @media (max-width: 768px){
        >div {
            nav{
            .wp-block-navigation__responsive-container{
                    width: 100vw !important;
                    background-color: var(--wp--preset--color--base);
                    padding-left: 0 !important;
                    .wp-block-navigation__responsive-container-close {
                        top: 0 !important;
                    }
             }
        }
        }
    }

    
}